node_modules
npm-debug.log*
logs
state
data
.env
.env.*
!.env.example
.git
.gitignore
coverage
.nyc_output
*.sqlite
*.sqlite3
*.log
*.test.js
*.spec.js
tests/
docs/
presentations/
.vscode/
.idea/
platforms/
plugins/
android/
ios/
desktop/dist/
www/node_modules/
uploads/
