<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-background-modern" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Modern Background</name>
    <description>Lifecycle-aware background execution for Cordova.</description>
    <license>Apache-2.0</license>

    <js-module src="www/background.js" name="Background">
        <clobbers target="cordova.plugins.backgroundModern" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
        <config-file parent="application" target="AndroidManifest.xml">
            <service
                android:name=".BackgroundService"
                android:exported="false"
                android:stopWithTask="false"
                android:foregroundServiceType="specialUse">
                <property
                    android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                    android:value="Cordova application background runtime" />
            </service>
        </config-file>
        <source-file src="src/android/BackgroundService.java" target-dir="src/cordova/plugins/backgroundmodern" />
        <source-file src="src/android/BackgroundPlugin.java" target-dir="src/cordova/plugins/backgroundmodern" />
    </platform>
</plugin>
