<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-aicore"
        version="1.0.2">
    <name>AI Core</name>
    <description>Safe Cordova bridge for optional on-device AI capabilities and pose detection.</description>
    <author>Brighton Mzacana / Br3eze Team</author>
    <license>Apache-2.0</license>
    <keywords>cordova,android,ai,aicore,pose-detection,on-device</keywords>

    <js-module src="www/AICore.js" name="AICore">
        <clobbers target="window.AICore" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AICorePlugin">
                <param name="android-package" value="zw.power.www.AICorePlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/AICorePlugin.java" target-dir="src/zw/power/www" />
        <source-file src="src/android/AiCapabilityDetector.java" target-dir="src/zw/power/www" />
        <source-file src="src/android/AiRouter.java" target-dir="src/zw/power/www" />
        <framework src="com.google.mlkit:pose-detection:18.0.0-beta5" />
    </platform>
</plugin>
